name: riscv-linux

on:
  # Workflow dispatched manually
  workflow_dispatch:
  # Workflow runs automatically after `riscv-windows`
  workflow_run:
    workflows: [ "riscv-windows" ]
    types: [ completed ]

permissions:
  contents: read
  packages: write

jobs:
  # Generate the -full image with the IAR Build tools for RISC-V.
  # It includes: -minimal, `cspybat`, `iarbuild` and `cstat`,
  # and all vendor-specific device support
  riscv-full:
    strategy:
      matrix:
        target: [ riscv ]
        cfg:
        - { version: 3.40.2, target-tag: 671, lmsc-version: 1.9, lmsc-tag: 984 }
        - { version: 3.40.1, target-tag: 609, lmsc-version: 1.9, lmsc-tag: 984 }
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@main
    - if: github.event_name != 'pull_request'
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: docker/build-push-action@v6
      with:
        file: ./.github/workflows/linux/Dockerfile-${{ matrix.target }}.full
        build-args: |
          TARGET=${{ matrix.target }}
          VERSION=${{ matrix.cfg.version }}
          TARGET_TAG=${{ matrix.cfg.target-tag }}
          LMSC_VERSION=${{ matrix.cfg.lmsc-version }}
          LMSC_TAG=${{ matrix.cfg.lmsc-tag }}
          REGISTRY_REPO=ghcr.io/${{ github.repository_owner }}
        push: ${{ github.event_name != 'pull_request' }}
        tags: |
          ghcr.io/${{ github.repository_owner }}/${{ matrix.target }}:${{ matrix.cfg.version }}-linux-full

  # Regenerate the Docker manifest so that we get the multi-arch image
  riscv-multi-arch:
    needs: [ riscv-full ]
    strategy:
      matrix:
        target: [ riscv ]
        version: [ 3.40.2, 3.40.1 ]
        registry-repo: [ "ghcr.io/${{ github.repository_owner }}" ]
    runs-on: ubuntu-24.04
    steps:
    - if: github.event_name != 'pull_request'
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - run: |
        docker manifest create ${{ matrix.registry-repo }}/${{ matrix.target }}:${{ matrix.version }} \
          ${{ matrix.registry-repo }}/${{ matrix.target }}:${{ matrix.version }}-linux-full \
          ${{ matrix.registry-repo }}/${{ matrix.target }}:${{ matrix.version }}-windows-2022-full \
          ${{ matrix.registry-repo }}/${{ matrix.target }}:${{ matrix.version }}-windows-2025-full
    - name: Push the manifest
      run: |
        docker manifest push ${{ matrix.registry-repo }}/${{ matrix.target }}:${{ matrix.version }}     

# Finalize manifest        
  riscv-manifest-finalize:
    needs: [ riscv-multi-arch ] 
    strategy:
      matrix:
        target: [  riscv ]
        latest: [ 3.40.2 ]
        registry-repo: [ "ghcr.io/${{ github.repository_owner }}" ]
    runs-on: ubuntu-24.04
    steps:
    - if: github.event_name != 'pull_request'
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Regenerate manifest for latest
      run: |
        docker manifest create ${{ matrix.registry-repo }}/${{ matrix.target }}:latest \
          ${{ matrix.registry-repo }}/${{ matrix.target }}:${{ matrix.latest }}-linux-full \
          ${{ matrix.registry-repo }}/${{ matrix.target }}:${{ matrix.latest }}-windows-2022-full \
          ${{ matrix.registry-repo }}/${{ matrix.target }}:${{ matrix.latest }}-windows-2025-full
    - name: Push the manifest
      run: |
        docker manifest push ${{ matrix.registry-repo }}/${{ matrix.target }}:latest